<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Cho-Cha-Da</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HELP !</title>
    <!-- My favicon -->
    <link rel="icon" type="image/png" href="{% static "images/favicon/favicon-96x96.png" %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static "images/favicon/favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "images/favicon/favicon.ico" %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicon/apple-touch-icon.png" %}" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="{% static "images/favicon/site.webmanifest" %}" />
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon/favicon.ico" %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" />
    
  </head>
  <body>
    <h1>HELP</h1>
    {{ help_me }}
    <img src='{% static "images/favicon/favicon.ico" %}' alt="chochada icon" />
  </body>
</html>