<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/features/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

<link href="/statics/chada_blog_app/css/features.css" rel="stylesheet">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link href="/statics/chada_blog_app/css/cover.css" rel="stylesheet">
<link href="/statics/chada_blog_app/css/main-new.css" rel="stylesheet">

{% load static %}
    
<div class="myNavColor text-center">
  <div class="container-fluid cover-container p-3 mx-auto">
    <main class="px-1">
      <img class="img-logo-padding" src={% static "images_apps/logo/chada-logo-v2-pink.svg" %} role="img" alt="Mae Chada Logo"
      style="height: 400px;">

      <h1 style="color: #f3e7f7;">Mae Chada Website</h1>
      <p class="lead">แม่ชฎาเว็บไซต์ เป็นเว็บไซต์ที่ให้ความรู้เกี่ยวกับเรื่องต่าง ๆ ที่ผู้เขียนสนใจ และเห็นว่าเป็นประโยชน์ต่อผู้อ่านทั่วไป นักเรียน นิสิต และนักศึกษา</p>
    </main>
  </div>
</div>

<div>
  <div class="container px-4 py-5" id="featured-3">
    <h1 class="text-body-emphasis pb-2 border-bottom text-start" style="font-size: 2.2em;">เรียนรู้ไปด้วยกัน</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
          <i class="bi bi-emoji-smile-fill"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">สาระน่ารู้</h3>
        <p>เนื้อหาสาระน่ารู้ทั่วไป และเป็นที่สนใจในปัจจุบัน รวมทั้งที่สมาชิกแนะนำ&nbsp;<i class="bi bi-heart-fill my-pink"></i></p>
        <a href="#" class="icon-link">
          ดูเพิ่มเติม&nbsp;...
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
          <i class="bi bi-book-half"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">บทเรียนแนะนำ</h3>
        <p>เป็นบทเรียนที่เกี่ยวข้องกับการวิเคราะห์ข้อมูล การแสดงข้อมูลภาพ และโปรแกรมด้านธุรกิจอัจฉริยะ ที่ผู้สนใจสามารถอ่าน ศึกษา และเรียนรู้ด้วยตนเอง&nbsp;<i class="bi bi-hand-thumbs-up-fill my-pink"></i></p>
        <a href="#" class="icon-link">
          ดูเพิ่มเติม&nbsp;...
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
          <i class="bi bi-pencil-square"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">บริการของเรา</h3>
        <p>เราให้บริการด้านการสอนพิเศษในลักษณะคอร์สเรียนระยะสั้นในราคาสบายกระเป๋า โดยเราให้บริการสอนเป็นรายบุคลคล หรือเป็นกลุ่มเรียนขนาดเล็กที่รวมทีมกันมาเรียนรู้ร่วมกันเป็นกลุ่มขนาด 2-5 คน ที่ให้บริการทั้งแบบออนไลน์และแบบออนไซต์&nbsp;<i class="bi bi-laptop-fill my-pink"></i></p>
        <a href="#" class="icon-link">
          ดูเพิ่มเติม&nbsp;...
        </a>
      </div>
    </div>
  </div>
</div>
