
<!-- Footer section -->
  <nav class="navbar navbar-expand-lg d-flex flex-column myNavColor mt-2 myNavFont">
    <div class="container-fluid p-2" style="background-color: #f3e7f7;">

      <div class="container list-inline text-center">
          <div class="list-inline-item"><a class="p-1" href="#"><i style="color: #37123C;" class="fa-brands fa-square-facebook fs-2"></i></a></div>
          <div class="list-inline-item"><a class="p-1" href="#"><i style="color: #37123C;" class="fa-brands fa-line fs-3"></i></a></div>
          <div class="list-inline-item"><a class="p-1" href="#"><i style="color: #37123C;" class="fa-solid fa-envelope fs-2"></i></a></div>
      </div>    
      <div class="p-2 align-items-end justify-content-end">
          <div>
              <a href="#"><i class="bi bi-arrow-up-circle-fill my-purple fs-3"></i></i></a>
          </div>
      </div>
    </div>
    <div class="d-flex d-inline align-items-end 
                  justify-content-center p-2">
      <ul class="nav">
          <li>
              <i class="fas fa-copyright"></i>
              &nbsp;2024 MaeChada's Website. All Rights reserved.
          </li>
      </ul>
    </div>
  </nav>
